{{template "base" .}}

{{define "content"}}
    <p>
    ini adalah content personal untuk halaman about us.
    </p>
    <p>
    This come from the template: 
        <br />
        Label Info: <strong>{{.LabelName}}</strong> <br />
        Data Info: <strong><i>{{.Status}}</i></strong> <br />
        Remote IP: {{.RemoteIP}} <br />
        UserID: <strong>{{.UserID}}</string>
    </p>
{{end}}