{{template "base" .}}

{{define "content"}}
    <p>
    Tanggal awal: {{.StartDate}}
    <br />
    Tanggal akhir: {{.EndDate}}
    </p>
{{end}}

{{define "js"}}
    <script>
        {{if eq .StatusInfo "true"}}
            messageDialog.MessageToast({
                title: "Data berhasil ditambahkan",
                icon: "success",
            });
        {{else}}
        {{end}}
    </script>
{[end]}